$gray: #E5E5E5;
$gray2: #767676;
$yellow: #FFB400;
$black: #2B2B2B;
$white: #FFFFFF;
$green: #7EB942;
$inter: 'Inter', sans-serif;

a{
    &.btn{
        display: inline-block;
        background-color: $yellow;
        color: $black;
        font-size: 18px;
        font-weight: 700;
        padding: 15px 50px;
        transition: all ease-in-out 0.3s;
        min-width: 250px;

        i{
            color: $black;
            margin-right: 10px;
            transition: all ease-in-out 0.3s;
        }

        &:hover{
            background-color: $green;
            color: $white;
            box-shadow: 0 0 25px 5px rgba(0,0,0,0.1);

            i{
                color: $white;
            }
        }
    }
}

body{
    background-color: $gray;
    font-family: $inter;

    #page{
        position: relative;

        &.loader-on{
            width: 100%;
            height: 100vh;
            overflow: hidden;

            .loader{
                opacity: 0.9;
                z-index: 100;
            }
        }

        .loader{
            background-color: $black;
            width: 100%;
            height: 100vh;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: all ease-in-out 1s;

            .lds-grid{
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;

                div {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: $yellow;
                    animation: lds-grid 1.2s linear infinite;

                    &:nth-child(1) {
                        top: 8px;
                        left: 8px;
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        top: 8px;
                        left: 32px;
                        animation-delay: -0.4s;
                    }
                    &:nth-child(3) {
                        top: 8px;
                        left: 56px;
                        animation-delay: -0.8s;
                    }
                    &:nth-child(4) {
                        top: 32px;
                        left: 8px;
                        animation-delay: -0.4s;
                    }
                    &:nth-child(5) {
                        top: 32px;
                        left: 32px;
                        animation-delay: -0.8s;
                    }
                    &:nth-child(6) {
                        top: 32px;
                        left: 56px;
                        animation-delay: -1.2s;
                    }
                    &:nth-child(7) {
                        top: 56px;
                        left: 8px;
                        animation-delay: -0.8s;
                    }
                    &:nth-child(8) {
                        top: 56px;
                        left: 32px;
                        animation-delay: -1.2s;
                    }
                    &:nth-child(9) {
                        top: 56px;
                        left: 56px;
                        animation-delay: -1.6s;
                    }
                }
            }
        }

        .container-fluid{
            position: relative;
            z-index: 5;

            .sticky-col{
                position: sticky;
                top:0px;

                @media (max-width: 991px){
                    display: none;
                }
            }

            .sidebar{
                background-color: $white;
                padding: 40px 20px 20px;
                margin: 0 0 25px 0;


                .avatar{
                    margin: 0 0 30px 0;

                    .avatar-img-holder{
                        max-width: 150px;
                        width: 100%;
                        position: relative;
                        margin: 0 auto;

                        img{
                            border: 5px solid $gray;
                            border-radius: 50%;
                            transition: all ease-in-out 0.3s;
                            width: 100%;

                            &:hover{
                                border: 5px solid $green;
                            }
                        }

                        .circle-dot{
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: $green;
                            position: absolute;
                            bottom: 6px;
                            right: 17px;
                            border: 3px solid $white;
                        }
                    }
                }

                .profile-title{

                    h3{
                        font-size: 18px;
                        font-size: 500;
                        margin: 0 0 20px 0;
                        color: $black;
                    }

                    h4{
                        font-size: 16px;
                        font-size: 400;
                        margin: 0 0 12px 0;
                        color: $gray2;
                    }
                }

                .social-icons{

                    ul{
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        padding: 0;

                        li{
                            padding: 8px;

                            a{
                                background-color: $yellow;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 30px;
                                width: 30px;
                                text-align: center;
                                color: $black;
                                text-decoration: none;
                                transition: all ease-in-out 0.3s;

                                &:hover{
                                    background-color: $gray2;
                                    color: $white;
                                }
                            }
                        }
                    }
                }

                .more-info{
                    display: flex;
                    justify-content: space-between;
                    padding: 3px 0;
                    align-items: flex-start;

                    .info-label{
                        font-size: 15px;
                        color: $black;
                        display: inline;
                        background-color: $yellow;
                        height: auto;
                        padding: 0 5px;
                    }

                    .info-data{
                        font-size: 15px;
                        color: $black;
                        text-align: right;

                        a{
                            color: $green;
                            text-decoration: none;
                        }
                    }
                }

                .swidget-box{

                    h3{
                        font-size: 18px;
                        font-size: 500;
                        margin: 0 0 5px 0;
                        color: $black;
                    }

                    .progress-container{
                        display: flex;
                        justify-content: space-between;
                        padding: 13px 0 3px;
                        align-items: flex-start;

                        .progress-title{
                            font-size: 15px;
                            color: $black;
                        }

                        .progress-number{
                            font-size: 15px;
                            color: $black;
                            text-align: right;
                        }
                    }

                    .progress{
                        height: 10px;

                        .progress-bar{
                            background-color: $yellow;
                        }
                    }

                    .list-icon{
                        ul{
                            list-style-type: none;
                            margin:0 0 0 10px;
                            padding:0;

                            li{
                                padding:2px 0;

                                i{
                                    color: $yellow;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main-content{

            .banner-box{
                background-color: $white;
                padding-top: 40px;
                margin: 0 0 25px 0;
                position: relative;
                overflow: hidden;

                .shape{
                    position: absolute;

                    /*
                    &.shape-1{
                        top: 5%;
                        left: 3%;
                        z-index: 1;
                    }

                    &.shape-2{
                        bottom: 8%;
                        left: 10%;
                        z-index: 1;
                    }

                    &.shape-3{
                        top: 10%;
                        left: 35%;
                        z-index: 1;
                    }

                    &.shape-4{
                        bottom: 16%;
                        left: 55%;
                        z-index: 1;
                    }

                    &.shape-5{
                        top: 20%;
                        right: 7%;
                        z-index: 1;
                    }
                    */
                    bottom: 0vh;
                    transform-style: preserve-3d;
                }


                .mc-padding{
                    position: relative;
                    z-index: 2;
                    padding: 0 25px;

                    h1{
                        font-size: 60px;
                        color: $black;
                        font-weight: 700;
                        margin: 40px 0 20px 0;

                        @media (max-width: 1600px) {
                            font-size: 45px;
                        }

                        @media (max-width: 1200px) {
                            font-size: 35px;
                        }

                        span{
                            color: $yellow;
                        }
                    }

                    p{
                        font-size: 19px;
                        color: $black;
                        margin: 0 0 20px 0;
                    }

                    .banner-photo{
                        display: flex;
                        align-items:end;
                        justify-content: center;

                        img{
                            width: 100%;
                            max-width: 327px;
                        }
                    }



                }
            }

            .m-content-box{
                margin: 0 0 25px 0;

                    .mcb-title{
                        padding: 40px 0 0 0;

                        .mc-padding{
                            padding: 0 25px;

                            h2{
                                font-size: 30px;
                                color: $black;
                                font-weight: 700;
                                margin: 0 0 15px 0;

                                i{
                                    margin-right: 15px;
                                }
                            }

                        }
                    }

                    .mcb-data{
                        background-color: $white;
                        margin: 0 0 10px 0;
                        border: 2px solid $white;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            border: 2px solid $yellow;
                            box-shadow: 0 0 25px 5px rgba(0,0,0,0.1);
                        }

                        .mc-padding{
                            padding: 25px;

                            .education{

                                .education-title{

                                    h5{
                                        color: $black;
                                        margin: 5px 0 0 0;


                                        i{
                                            color: $yellow;
                                            margin: 0 10px;
                                        }
                                    }
                                }

                                .education-desc{
                                    h3{
                                        color: $black;
                                        margin: 0 0 10px 0;
                                        font-weight: 700;

                                        @media (max-width: 767px){
                                            font-size: 1.3em;
                                            margin: 15px 0 15px 0;
                                            text-align: center;
                                        }
                                    }

                                    h5{
                                        color: $black;
                                        margin: 0 0 10px 0;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;

                                        i{
                                            color: $yellow;
                                            font-size: 20px;
                                            margin-right: 10px;
                                        }
                                    }

                                    p{
                                        color: $black;
                                        margin: 0 0 10px 0;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;

                                        i{
                                            color: $yellow;
                                            font-size: 20px;
                                            margin-right: 10px;
                                        }
                                    }

                                    ul.list-group{
                                        li.list-group-item{
                                            padding-left: 0px;
                                            padding-right: 0px;
                                        }
                                    }
                                }
                            }


                            .carousel{
                                button{
                                    background-color: transparent;
                                    border: none;
                                    color: $yellow;
                                }

                                ol.carousel-indicators{
                                    li{
                                        border: 2px solid $black;
                                        background-color: $white;
                                        height: 20px;
                                        width: 20px;
                                        border-radius: 100%;

                                        &.active{
                                            border: 2px solid $yellow;
                                            background-color: $black;
                                        }
                                    }
                                }

                                .carousel-inner{
                                    .carousel-item{

                                        .carousel-caption{
                                            display: none !important;
                                            background-color: $yellow;
                                            bottom: 60px;
                                            box-shadow: 0 0 30px 5px rgba(0,0,0,0.3);

                                            h5{
                                                color: $black;
                                            }

                                            p{
                                                color: $black;
                                            }
                                        }
                                    }
                                }
                            }


                        }
                    }

            }


        }

        .menuarea{
            background-color: $white;
            padding: 40px 0 25px;
            margin-bottom: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;

                li{
                    display: flex;
                    justify-content: center;
                    font-size: 25px;
                    padding: 5px 10px;

                    &.follow-txt{
                        font-size: 16px;
                        font-weight: 500;
                        padding-top: 25px;
                        color: $gray2;
                    }

                    a{
                        height: 50px;
                        width: 50px;
                        color: $gray2;
                        background-color: $gray;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        transition: all ease-in-out 0.3s;

                        &:hover,
                        &.active{
                            color: $black;
                            background-color: $yellow;
                        }
                    }
                }
            }
        }
    }

}

#recent-works{
    .mcb-data{
        .mc-padding{
            display: flex;
            flex-direction: row;
            gap: 25px;
            flex-wrap: wrap;

            .card{
                max-width: 31%;
                flex: 1 1 31%;

                @media (max-width: 1024px) {
                    max-width: 48%;
                    flex: 1 1 48%;
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                    flex: 1 1 100%;
                }

                ul.list-group{
                    li{
                        padding: 0px;
                        display: flex;
                        flex-direction: row;

                        span{
                            width: 50%;
                            flex: 1 1 50%;
                            text-align: center;
                            font-size: 25px;

                            &.icon{
                                padding: 15px;
                            }

                            &.icon-link{
                                padding: 0px;

                                a{
                                    display: block;
                                    padding: 15px;
                                    background-color: $gray;
                                    color: $black;
                                    transition: all ease-in-out 0.3s;

                                    &:hover{
                                        background-color: $yellow;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
}



$total: 5;
@for $i from 1 through $total {
  $scale:random(2) - .4;

  .shape:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    //transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    //z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to{
       bottom:150vh;
       //transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}


.tab-selector{
    display: flex;
    gap: 10px !important;
    padding-bottom: 0px !important;

    a{
        display: block;
        background-color: $yellow;
        padding: 5px 10px; 
        color: $black;
        border-radius: 10px;
        text-decoration: none;
        transition: all ease-in-out 0.3s;

        &:hover,
        &.active{
            background-color: $green;
        }
    }
}